################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/MGCLV12/doc
/.vs
/MGCL.sdf
/README.md
/OUTDIR
/freetype.lib
/glew32.lib
/MGCLtoRelease/lib/MGCLV12Debug.exp
/MGCLtoRelease/lib/MGCLV12Debug.exp
/MGCLtoRelease/lib/MGCLV12Debug.lib
/MGCLtoRelease/lib/MGCLV12Debug.exp
/MGCLtoRelease/lib/MGCLV12Debug.lib
/MGCLtoRelease/bin/MGCLV12Debug.dll
/MGCLtoRelease/bin/MGCLV12Debug.pdb
/MGCLtoRelease/lib/MGCLV12.exp
