################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/MGCLV12/doc
/.vs
/MGCL.sdf
/README.md
/OUTDIR
!/OUTDIR/lib
